.newsNavbar{
        display: flex;
        justify-content: space-around;
        font-family: "marvelFont";
        align-items: center;
        border: 1px solid var(--accent-color);
        border-radius: var(--radius-lg) /* 0.5rem = 8px */;
        width: 95%;
        margin-inline: auto;
        background-color: var(--yellow);
        padding-block: calc(var(--spacing) * 1) /* 0.75rem = 12px */;
        font-size: var(--text-2xl) /* 1.5rem = 24px */;
        color: var(--black);
        letter-spacing: var(--tracking-wide) /* 0.025em */;
}

.newsCard{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: calc(var(--spacing) * 3);
      width: 100%;
      height: 525px;
      background-color: var(--secondary-background);
      padding: calc(var(--spacing) * 3) /* 0.75rem = 12px */;
      border-radius: var(--radius-lg) /* 0.5rem = 8px */;
      --tw-shadow: 0 25px 50px -12px var(--tw-shadow-color, rgb(0 0 0 / 0.25));
      box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
      border: 1px solid var(--accent-color)
}

.newsCardLoader{
  display: flex;
  background-color: var(--color-zinc-700);
  border-color: var(--color-zinc-800);
  flex-direction: column;
  justify-content: space-between;
  gap: calc(var(--spacing) * 3);
  width: 100%;
  height: 525px;
  padding: calc(var(--spacing) * 3) /* 0.75rem = 12px */;
  border-radius: var(--radius-lg) /* 0.5rem = 8px */;
  --tw-shadow: 0 25px 50px -12px var(--tw-shadow-color, rgb(0 0 0 / 0.25));
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.newsCardSection {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: calc(var(--spacing) * 3);
}

@media (min-width: 1025px) {
  .newsCard{
    width: 32%;
    transition: ease-in-out 100ms;
  }

  .newsCard:hover{
    cursor: pointer;
    border-color: var(--purple);
  }

  .newsCardLoader{
    width: 32%;
  }

  .newsCardSection{
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: calc(var(--spacing) * 5) /* 0.75rem = 12px */;
  }
}