.playerStatsHeader {
  width: 100%;
  padding: calc(var(--spacing) * 3) /* 0.75rem = 12px */;
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 3) /* 0.75rem = 12px */;
  margin-inline: auto;
  background-color: var(--accent-color);
  border: 2px solid var(--secondary-background);
  border-radius: var(--radius-lg) /* 0.5rem = 8px */;
}

.updatePlayerButton{
      width: calc(4/10 * 100%) /* 40% */;
      height: calc(var(--spacing) * 8) /* 2rem = 32px */;
      margin-inline: auto;
      border: 1px solid var(--secondary-background);
      border-radius: var(--radius-lg) /* 0.5rem = 8px */;
      background-color: var(--purple);
      text-align: center;
      transition: ease-in-out 100ms;
}

.updatePlayerButton:hover{
      opacity: 85%;
      cursor: pointer;
}

.playerStatsPageSectionContainer{
      width: 100%;
      margin-inline: auto;
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
}

.playerStatsCard {
      width: 100%;
      height: 40vh;
      background-color: var(--secondary-background);
      padding: calc(var(--spacing) * 3) /* 0.75rem = 12px */;
      border-radius: var(--radius-lg) /* 0.5rem = 8px */;
      --tw-shadow: 0 25px 50px -12px var(--tw-shadow-color, rgb(0 0 0 / 0.25));
      box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
      border: 1px solid var(--accent-color)
} 

.playerChartStatsCard {
      width: 100%;
      height: 40vh;
      background-color: var(--secondary-background);
      padding: calc(var(--spacing) * 3) /* 0.75rem = 12px */;
      border-radius: var(--radius-lg) /* 0.5rem = 8px */;
      --tw-shadow: 0 25px 50px -12px var(--tw-shadow-color, rgb(0 0 0 / 0.25));
      box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
      border: 1px solid var(--accent-color)
} 

.playerMatchHistoryStatCard{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.25rem;
    min-height: 20vh;
    height: fit-content;
    background-color: var(--secondary-background);
    padding: calc(var(--spacing) * 3) /* 0.75rem = 12px */;
    border-radius: var(--radius-lg) /* 0.5rem = 8px */;
    --tw-shadow: 0 25px 50px -12px var(--tw-shadow-color, rgb(0 0 0 / 0.25));
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    border: 1px solid var(--accent-color)
}

@media (width >= 48rem /* 768px */) {
      .updatePlayerButton{
        width: calc(1/10 * 100%) /* 10% */;}
}

@media (min-width: 1025px){
  .playerStatsHeader {
   width: 90%;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   gap: 0;
  }
  
  .updatePlayerButton {
  width: 140px;
  height: 32px;
  margin-inline: 0;
}

.playerStatsPageSectionContainer{
      width: calc(9/10 * 100%) /* 90% */;
      margin-inline: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
}

.playerStatsCard {
      width: 32%;
      height: 40vh;
      background-color: var(--secondary-background);
      padding: calc(var(--spacing) * 3) /* 0.75rem = 12px */;
      border-radius: var(--radius-lg) /* 0.5rem = 8px */;
      --tw-shadow: 0 25px 50px -12px var(--tw-shadow-color, rgb(0 0 0 / 0.25));
      box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
      border: 1px solid var(--accent-color)
} 

.playerChartStatsCard {
      width: 66%;
      height: 40vh;
      background-color: var(--secondary-background);
      padding: calc(var(--spacing) * 3) /* 0.75rem = 12px */;
      border-radius: var(--radius-lg) /* 0.5rem = 8px */;
      --tw-shadow: 0 25px 50px -12px var(--tw-shadow-color, rgb(0 0 0 / 0.25));
      box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
      border: 1px solid var(--accent-color)
} 
}
