@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #1C1B2D;
  --secondary-background: #151425;

  --primary-text: #FFFFFF;
  --secondary-text: #AEB2B6;

  --accent-color: #2B2D3F;
  --secondary-accent-color: #1A1B26;
  
  --border: #E4E7EA;
  --white: #FFFFFF;
  --black: #000000;
  --yellow: #F6DD55;
  --purple: #a848c4;
  --blue: #1F51FF;
  --red: 	#FF3131;
  --green: #32CD32;
  --gold: #FFD700;
  --silver: #C4C4C4;
  --bronze: #CE8946;

  --marvelFont: "MarvelFont"
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@font-face {
  font-family: "MarvelFont";
  src: url("/fonts/AmericanCaptain-MdEY.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html, body{
  background-color: var(--background);
  color: var(--primary-text);
}

.animate-slide-in {
  animation: slide-in 0.4s ease-out forwards;
}

.scrollbar-w-2::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
  --bg-opacity: 1;
  background-color: #f7fafc;
  background-color: rgba(247, 250, 252, var(--bg-opacity));
}

.scrollbar-thumb-blue::-webkit-scrollbar-thumb {
  --bg-opacity: 1;
  background-color: #edf2f7;
  background-color: rgba(237, 242, 247, var(--bg-opacity));
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
}

.pageSection{
  display: flex;
  flex-direction: column;
  margin-top: calc(var(--spacing) * 3) /* 1.25rem = 20px */;
  gap: calc(var(--spacing) * 3) /* 1.25rem = 20px */;
  min-height: 100vh;
  width: 100%;
}

@media (min-width: 815px) {
  .headerIcon {
  width: 45px;
  height: 45px;
}
}


/* Modular Component Styles */
@import "../components/navbars/navbar.css";
@import "../components/news/news.css";
@import "../components/home/home.css";
@import "../components/leaderboard/leaderboard.css";
@import "../components/player-stats/search-player-page.css";
@import "../components/player-stats/FullPlayerStats/full-player-stats-page.css";