@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #1C1B2D;
  --secondary-background: #151425;
  --primary-text: #FFFFFF;
  --secondary-text: #AEB2B6;
  --accent-color: #2B2D3F;
  --border: #E4E7EA;
  --white: #FFFFFF;
  --black: #000000;
  --yellow: #F6DD55;
  --purple: #a848c4;

  --marvelFont: "MarvelFont"
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@font-face {
  font-family: "MarvelFont";
  src: url("/fonts/AmericanCaptain-MdEY.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html, body{
  background-color: var(--background);
}


.topNavbar-web {
  position: sticky;
  top: 0;
  overflow: hidden;
  display: flex;
  background-color: var(--black);
  justify-content: space-between;
  padding-inline: calc(var(--spacing) * 5) /* 1.25rem = 20px */;
  padding-block: calc(var(--spacing) * 3) /* 0.75rem = 12px */;
  height: 70px;
  width: 100%;
  align-items: center;
}


.navbarLink {
  font-family: "marvelFont";
  font-weight: 200;
  font-size: 1.125rem;
  letter-spacing: 0.05em;
  padding-block: calc(var(--spacing) * 1);
  padding-inline: calc(var(--spacing) * 5);
  border-radius: 0.75rem;
  transition: 0.1s ease-in;
}

.navbarLink:hover{
  background-color: var(--accent-color);
}

.profile-pic{
  border-width: 1px;
  border-radius: calc(infinity * 1px);
  border-color: transparent;
  transition: 0.1s ease-in;
}

.profile-pic:hover{
  border-width: 1px;
  border-color: var(--yellow);
}

.homeHeader {
  background-image: url("/images/marvel-rivals-bg-2.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100vh
}

.homeHeaderGradient {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1));
}

.homeSignUpButton {
  font-family: "marvelFont";
  background-color: var(--yellow);
  padding-block: calc(var(--spacing) * 3);
  padding-inline: calc(var(--spacing) * 5);
  font-size: var(--text-3xl) /* 1.875rem = 30px */;
  line-height: var(--tw-leading, var(--text-3xl--line-height) /* calc(2.25 / 1.875) ≈ 1.2 */);
  width: calc(1/4 * 100%);
  text-align: center;
  border-radius: var(--radius-2xl) /* 1rem = 16px */;
  transition: 0.1s ease-in;
}

.homeSignUpButton:hover{
  opacity: 0.85;
  text-decoration: underline;
}