@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #DADDEC;
  --primary-text: #000000;
  --secondary-text: #72767A;
  --border: #212327;
  --white: #FFFFFF;
  --black: #000000;
  --yellow: #F6DD55;
}

@font-face {
  font-family: "MarvelFont";
  src: url("/fonts/AmericanCaptain-MdEY.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html, body{
  font-family: "MarvelFont", sans-serif;
  background-color: var(--background);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
